/* Dashboard Body */
.dashboard-body {
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-background-color: #f4f9f3;
}

.permission-list-area, .sheets-list-area {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-border-color: #daeacd;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.permission-list-area .label, .sheets-list-area .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
